pkgbase = moshpit-agent-bin
	pkgdesc = Moshpit agent daemon — passphrase unlock (pre-compiled MUSL static binary)
	pkgver = 0.9.5
	pkgrel = 1
	url = https://github.com/rustyhorde/moshpit
	arch = x86_64
	arch = aarch64
	license = MIT
	license = Apache-2.0
	provides = moshpit-agent
	conflicts = moshpit-agent
	conflicts = moshpit-agent-fido2-bin
	conflicts = moshpit-agent-systemd-creds-bin
	conflicts = moshpit-agent-ssh-agent-piggyback-bin
	conflicts = moshpit-agent-full-bin
	source = https://git.jasonozias.com/dl/moshpit/v0.9.5/dist-mpa.tar.gz
	sha256sums = 59ec10e172c322e54e4179dcf19edb2e1facc6cb2ecfa007b0b382d4f5c81aa7
	source_x86_64 = mpa-x86_64::https://git.jasonozias.com/dl/moshpit/v0.9.5/mpa-x86_64-unknown-linux-musl
	sha256sums_x86_64 = 2c9048acbd6139c880b931080d51bbe0d952e1496da5fa49db3e79ade07cb481
	source_aarch64 = mpa-aarch64::https://git.jasonozias.com/dl/moshpit/v0.9.5/mpa-aarch64-unknown-linux-musl
	sha256sums_aarch64 = 28ba8840f0fb62308f54af95c48f8e9104d97a3b91bdda318f52fef43a29a1c9

pkgname = moshpit-agent-bin
