pkgbase = moshpit-agent-systemd-creds-bin
	pkgdesc = Moshpit agent daemon — systemd credentials unlock (pre-compiled MUSL static binary)
	pkgver = 0.9.5
	pkgrel = 1
	url = https://github.com/rustyhorde/moshpit
	arch = x86_64
	arch = aarch64
	license = MIT
	license = Apache-2.0
	provides = moshpit-agent
	conflicts = moshpit-agent
	conflicts = moshpit-agent-systemd-creds
	conflicts = moshpit-agent-bin
	conflicts = moshpit-agent-fido2-bin
	conflicts = moshpit-agent-full-bin
	conflicts = moshpit-agent-unstable-bin
	conflicts = moshpit-agent-fido2-unstable-bin
	conflicts = moshpit-agent-full-unstable-bin
	source = https://git.jasonozias.com/dl/moshpit/v0.9.5/dist-mpa.tar.gz
	sha256sums = 59ec10e172c322e54e4179dcf19edb2e1facc6cb2ecfa007b0b382d4f5c81aa7
	source_x86_64 = mpa-systemd-creds-x86_64::https://git.jasonozias.com/dl/moshpit/v0.9.5/mpa-systemd-creds-x86_64-unknown-linux-musl
	sha256sums_x86_64 = d8598098825731a8e6db918d9ef375ce7c6af72ca788c64f2decb06511da5b4f
	source_aarch64 = mpa-systemd-creds-aarch64::https://git.jasonozias.com/dl/moshpit/v0.9.5/mpa-systemd-creds-aarch64-unknown-linux-musl
	sha256sums_aarch64 = 6173960132100a22fdd7890d1dd1f236113c63bbfa9de924c0e5773acb7735b6

pkgname = moshpit-agent-systemd-creds-bin
