pkgbase = moshpit-agent-full-unstable-bin
	pkgdesc = Moshpit agent daemon — all MUSL-portable unlock backends + post-quantum ML-DSA support (pre-compiled static binary)
	pkgver = 0.9.0
	pkgrel = 1
	url = https://github.com/rustyhorde/moshpit
	arch = x86_64
	arch = aarch64
	license = MIT
	license = Apache-2.0
	provides = moshpit-agent
	conflicts = moshpit-agent
	conflicts = moshpit-agent-bin
	conflicts = moshpit-agent-fido2-bin
	conflicts = moshpit-agent-systemd-creds-bin
	conflicts = moshpit-agent-ssh-agent-piggyback-bin
	conflicts = moshpit-agent-full-bin
	conflicts = moshpit-agent-unstable-bin
	conflicts = moshpit-agent-fido2-unstable-bin
	conflicts = moshpit-agent-systemd-creds-unstable-bin
	conflicts = moshpit-agent-ssh-agent-piggyback-unstable-bin
	source = https://github.com/rustyhorde/moshpit/releases/download/v0.9.0/dist-mpa.tar.gz
	sha256sums = d366de1bc592580ea44e3238e9032b476dfa91996f8cbe7c252093fea7b5750e
	source_x86_64 = mpa-full-unstable-x86_64::https://github.com/rustyhorde/moshpit/releases/download/v0.9.0/mpa-full-unstable-x86_64-unknown-linux-musl
	sha256sums_x86_64 = 0d08cff20c4b627ed35023cb6d18fb07bb6880dd91e0b92bc643149a2357caca
	source_aarch64 = mpa-full-unstable-aarch64::https://github.com/rustyhorde/moshpit/releases/download/v0.9.0/mpa-full-unstable-aarch64-unknown-linux-musl
	sha256sums_aarch64 = 8351c61da2d042ce44e8d3c22c8c39238190044351c0761aa992ba337cd21699

pkgname = moshpit-agent-full-unstable-bin
