pkgbase = moshpit-agent-full-unstable-bin
	pkgdesc = Moshpit agent daemon — all MUSL-portable unlock backends + post-quantum ML-DSA support (pre-compiled static binary)
	pkgver = 0.9.5
	pkgrel = 1
	url = https://github.com/rustyhorde/moshpit
	arch = x86_64
	arch = aarch64
	license = MIT
	license = Apache-2.0
	provides = moshpit-agent
	conflicts = moshpit-agent
	conflicts = moshpit-agent-bin
	conflicts = moshpit-agent-fido2-bin
	conflicts = moshpit-agent-systemd-creds-bin
	conflicts = moshpit-agent-ssh-agent-piggyback-bin
	conflicts = moshpit-agent-full-bin
	conflicts = moshpit-agent-unstable-bin
	conflicts = moshpit-agent-fido2-unstable-bin
	conflicts = moshpit-agent-systemd-creds-unstable-bin
	conflicts = moshpit-agent-ssh-agent-piggyback-unstable-bin
	source = https://git.jasonozias.com/dl/moshpit/v0.9.5/dist-mpa.tar.gz
	sha256sums = 59ec10e172c322e54e4179dcf19edb2e1facc6cb2ecfa007b0b382d4f5c81aa7
	source_x86_64 = mpa-full-unstable-x86_64::https://git.jasonozias.com/dl/moshpit/v0.9.5/mpa-full-unstable-x86_64-unknown-linux-musl
	sha256sums_x86_64 = 44f0b4ef0da413d8ae7b654485c8054ee9fb24dad74eca3cf43953fe940d7139
	source_aarch64 = mpa-full-unstable-aarch64::https://git.jasonozias.com/dl/moshpit/v0.9.5/mpa-full-unstable-aarch64-unknown-linux-musl
	sha256sums_aarch64 = 41f6fad1f5d2672483db00437aa8ff9d2ca53f42b9443724cad9223c42c94f7d

pkgname = moshpit-agent-full-unstable-bin
