pkgbase = moshpits-unstable-bin
	pkgdesc = moshpits server with post-quantum support — SSH and Mosh inspired remote terminal server (pre-compiled binary)
	pkgver = 0.9.5
	pkgrel = 1
	url = https://github.com/rustyhorde/moshpit
	install = moshpits.install
	arch = x86_64
	arch = aarch64
	license = MIT
	license = Apache-2.0
	depends = moshpit-keygen-unstable-bin
	provides = moshpits
	conflicts = moshpits
	conflicts = moshpits-bin
	replaces = moshpits-bin
	source = https://git.jasonozias.com/dl/moshpit/v0.9.5/dist-mps.tar.gz
	source = mps.service
	sha256sums = 3d4cb0fe0b2a7f197c60268ae4f188a9cb2236707f959678d7538855dfd66e14
	sha256sums = SKIP
	source_x86_64 = mps-unstable-x86_64::https://git.jasonozias.com/dl/moshpit/v0.9.5/mps-unstable-x86_64-unknown-linux-musl
	sha256sums_x86_64 = 6a586f878d02d7d9b4159ada50ccde2340efea4f52af5ca9ef22c1b95044eb70
	source_aarch64 = mps-unstable-aarch64::https://git.jasonozias.com/dl/moshpit/v0.9.5/mps-unstable-aarch64-unknown-linux-musl
	sha256sums_aarch64 = 6174f346bb587bb14bbe4ed4878778994ebabccd5904e6e3128ff4268350e01e

pkgname = moshpits-unstable-bin
