pkgbase = moshpits-unstable-bin
	pkgdesc = moshpits server with post-quantum support — SSH and Mosh inspired remote terminal server (pre-compiled binary)
	pkgver = 0.9.4
	pkgrel = 1
	url = https://github.com/rustyhorde/moshpit
	install = moshpits.install
	arch = x86_64
	arch = aarch64
	license = MIT
	license = Apache-2.0
	depends = moshpit-keygen-unstable-bin
	provides = moshpits
	conflicts = moshpits
	conflicts = moshpits-bin
	replaces = moshpits-bin
	source = https://git.jasonozias.com/dl/moshpit/v0.9.4/dist-mps.tar.gz
	source = mps.service
	sha256sums = b72f8432d289c29cbdd52f615d25b6181197b20e59d5844050d48adb2d7bfb66
	sha256sums = SKIP
	source_x86_64 = mps-unstable-x86_64::https://git.jasonozias.com/dl/moshpit/v0.9.4/mps-unstable-x86_64-unknown-linux-musl
	sha256sums_x86_64 = 1c2c6af04fe1fb78b9dd14de4ddca61476976cad7e4e93d4bd97021caaf51192
	source_aarch64 = mps-unstable-aarch64::https://git.jasonozias.com/dl/moshpit/v0.9.4/mps-unstable-aarch64-unknown-linux-musl
	sha256sums_aarch64 = e8b57b96a25871df8dd88ab6a3b5aa3fec35357ab662931e4efd894656e2b926

pkgname = moshpits-unstable-bin
