pkgbase = moshpit-keygen-unstable-bin
	pkgdesc = Asymmetric key generation and inspection tool for moshpit — X25519, P-384, P-256, and ML-DSA post-quantum identity keys (pre-compiled binary)
	pkgver = 0.9.5
	pkgrel = 1
	url = https://github.com/rustyhorde/moshpit
	arch = x86_64
	arch = aarch64
	license = MIT
	license = Apache-2.0
	provides = moshpit-keygen
	conflicts = moshpit-keygen
	conflicts = moshpit-keygen-bin
	replaces = moshpit-keygen-bin
	source = https://git.jasonozias.com/dl/moshpit/v0.9.5/dist-mp-keygen.tar.gz
	sha256sums = 9c321a447ad918139ae689bdb8fbb1a459dd33b97be0648bbdbb50bcbb885228
	source_x86_64 = mp-keygen-unstable-x86_64::https://git.jasonozias.com/dl/moshpit/v0.9.5/mp-keygen-unstable-x86_64-unknown-linux-musl
	sha256sums_x86_64 = b5585e15e39ff968f1a32e9df85c5944f97302c26e65b1fb11cfbc253403e4cf
	source_aarch64 = mp-keygen-unstable-aarch64::https://git.jasonozias.com/dl/moshpit/v0.9.5/mp-keygen-unstable-aarch64-unknown-linux-musl
	sha256sums_aarch64 = 764b2d88aa510105703ee2788d092289d269a2a8bf932e4a9e3a7b2372c2df71

pkgname = moshpit-keygen-unstable-bin
